body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#title{
    border-radius:0px;
}

#left_block{
    background-color:#D6D7FE;
    height:200px;
    padding-top:5px;
    padding-bottom:10px;
    position:relative;
    top:0px;
    left:0px;
}


#mid_block {
    background-color: #FEFDD6;
    height:200px;
    padding-top:5px; 
    padding-bottom:10px;
    position:relative;
    top:0px;
    left:0px;
}

#right_block{
    background-color:#D6FED8;
    height:200px;
    padding-top:5px;
    padding-bottom:10px; 
    position:relative;
    top:0px;
    left:0px;
}

#left_block p{
    height:75px;
}

#mid_block p{
    height:75px;
}

#right_block p{
    height:75px;
}

#graphdiv2{
    
}

.btn{
    border-radius:0px;
}

#timeZoneScript{
    background-color:#FEDDE1;
}

#testScript{
    background-color:#FEEBDD;
}

/*#btn1{
    position:relative;
    top:7px;
    left:0px;
}
#btn2{
    position:relative;
    top:21px;
}
#btn3{
    position:relative;
    top:42px;
}
    */

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
